<ul>
    <li class="level1">
        <a href="/home/index">Startseite</a>
    </li>
    <li class="level1">
        <a href="/home/impressum">Impressum</a>
    </li>
    <li class="level1">
        <a href="/home/aboutus">über uns</a>
    </li>

    <li class="level1">
        <a href="/user/index">Userverwaltung</a>
    </li>
    <li class="level1">
        <a href="/user/registration">Registrierung</a>
    </li>
    <li class="level1">
        <a href="/user/login">Login</a>
    </li>


</ul>
